@use "../../node_modules/normalize-scss/sass/normalize" as normalize;
@use 'base/theme';
@use 'base/layout';
@use 'base/pattern';
@use 'base/content';

@use 'content/payment';
@use 'content/warning';
@use 'content/product';
@use 'content/history';
@use 'content/cover';
@use 'content/event';
@use 'content/header';
@use 'content/onoffswitch';
@use 'content/footer';

@include normalize.normalize();

html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

.page {
	background: var(--color-default);
}
