@import 'base/theme';
@import 'base/layout';
@import 'base/pattern';
@import 'base/content';

@import 'content/payment';
@import 'content/warning';
@import 'content/product';
@import 'content/history';
@import 'content/cover';
@import 'content/event';
@import 'content/header';
@import 'content/onoffswitch';
@import 'content/footer';

:root{
    box-sizing: border-box;
}

.page {
    background: var(--color-default);
}

.history {
    border-width: 3px;
}

.cover {
    min-height: 472px;
}

.event {
    min-height: 400px;
}

.onoffswitch {
    width: 97px;
    height: 32px;
    border: 2px solid var(--color-border);
}

