@use '../base/theme';

.cover {
    min-height: 472px;

    &__info {
        flex-direction: column;
    }

    &__preview {
        margin-bottom: var(--space-l);

        .image {
            border-width: 3px;
            height: 174px;
            width: auto;
        }
    }
}