.event {
    min-height: 400px;

    &__content {
        flex-direction: column;
    }

    &__preview {
        display: flex;

        .avatar {
            margin: 0 4.1px;
        }

        .brand-logo {
            margin: 0 4.1px;
        }
    }

    &__title {
        margin-top: 36px;
    }

    &__description {
        margin-top: 15px;
        .text {
            justify-content: center;
        }
    }
}