.history {
    border-width: 3px;
    
    &__transaction {
        .e-accordion__more {
            display: none;
        }
    }

    &__show {
        display: flex;
        margin-top: 0;
    }

    &__details {
        flex: 1;
        display: flex;
    }

    &__time {
        display: flex;
        flex-direction: column; 

        .text:first-child {
            margin-top: 18px; 
        }

        .text:last-child {
            margin-top: 13px;
        }

    }

    &__destination {
        display: flex;
    }

    &__label {
        align-self: center;
    }

    &__quantity {
        align-self: center;
    }
}