@use '../base/theme';    

.history {
    &__transaction {
        flex-direction: column;
    }

    &__show {
        justify-content: space-between;
        margin-top: 0;
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__details {
        display: flex;
    }

    &__time {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 6px 0 6px;
    }

    &__destination {
        display: flex;
    }

    &__description {
        flex-direction: column;
    }

    &__actions {
        margin-bottom: 0;
    }
}