@use '../base/theme';

.onoffswitch {
    width: 93px;
    height: 28px;
    border: 2px solid var(--color-border);
    position: relative;
    --btn-right: 66px;

    &_checked {
        --btn-right: 2px;
    }

    &__button {
        transition: .13s;
        width: 24px;
        height: 24px;
        position: absolute;
        bottom: 1px;
        right: var(--btn-right);
        cursor: pointer;
        background: var(--color-border);
    }
}
