@import '../base/theme';

.onoffswitch {
    width: 93px;
    height: 28px;
    border: 2px solid var(--color-border);
    position: relative;

    &__button {
        width: 24px;
        height: 24px;
        position: absolute;
        bottom: 1px;
        right: 2px;
        cursor: pointer;
        background: var(--color-border);
    }
}
