.payment {
    &__content {
        padding-bottom: 18px;
        border-top: inherit;
        border-bottom: inherit;
    }

    .form {
        &__control {  
            flex: 1;
            display: flex;
            justify-content: flex-end;
        }
    }
}