.payment {
    border-width: 3px;

    &__header {
        padding-top: 32px;
        padding-bottom: 38px;
    }

    &__content {
        padding-bottom: 18px;
        border-top: inherit;
        border-bottom: inherit;
    }

    .form {
        &__control {  
            flex: 1;
            display: flex;
            justify-content: flex-end;
        }
    }
}