.payment {
    &__content {
        flex-direction: column;
        padding-bottom: 18px;
        border-top: inherit;
        border-bottom: inherit;
    }

    &__footer {
        .form__control {
            flex: 0;
        }
    }
}