@use '../base/theme';

.product {
    min-height: 294px;
    svg {
        height: 160px;
    }

    &__image {
        flex: 1;
        height: 160px;
        background: var(--color-default);
        background-image: var(--image-placeholder);
        background-repeat: no-repeat;
        background-position: center;

        .image {
            border: 0;
        }
    }

    &__title {
        margin-bottom: 45px;
    }
}