@use '../base/theme';

.product {
    min-height: 300px;
    border-width: 3px;

    &__image {
        flex: 1;
        height: 160px;
        border-color: transparent;
    }

    &__title {
        margin-bottom: 45px;
    }
}