@use '../base/theme';

.warning {
    min-height: 335px;

    &__content {
        display: flex;
        flex-direction: column;

        .placeholder {
            margin: var(--space-m) auto;
        }
    }

    &__button-wrapper {
        display: flex;
        margin-top: 5px;
    }
}