@use '../base/theme';

.warning {
    min-height: 335px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    &__content {
        display: flex;
        flex-direction: column;

        .placeholder {
            margin: var(--space-m) auto;
        }
    }

    &__button-wrapper {
        display: flex;
    }
}