@import 'theme';

.layout {
    &__container {
        display: flex;

        &_align {
            &_center {
                justify-content: center;
            }
        }

        &_size {
            &_s {
                max-width: 920px; 
            }

            &_m {
                max-width: 1280px;
            }
        }

        &_space-v {
            &_xxxxl {
                padding-top: var(--space-xxxxl);
                padding-bottom: var(--space-xxxxl);
            }

            &_xxxxxl {
                padding-top: var(--space-xxxxxl);
                padding-bottom: var(--space-xxxxxl);
            }
        }

        &_intent-b {
            &_xxl {
                margin-bottom: var(--space-xxl);
            }

            &_xxxxl {
                margin-bottom: var(--space-xxxxl);
            }
        }
    }
}

.grid {
    display: flex;
    &_m-columns {
        &_10 {
            --step: calc(#{$screen-m} / 10);
        }

        &_12 {
            --step: calc(#{$screen-m} / 12);
        }
    }

    &_col-gap {
        &_two-thirds {

        }

        &_full {

        }

        &_half {

        }
    }

    &_row-gap {
        &_full {

        }

        &_half {

        }
    }

    &__fraction {
        &_m-col {
            $columns: 2 3 4 5 8;
            @each $col in $columns {
                &_#{$col} {
                    width: calc(var(--step) * #{$col});
                }
            }
        }
    }
}