@import 'theme';

.card {
    position: relative;

    &_border {
        &_all {

        }
    }

    &_view {
        &_default {

        }
    }

    &__content {
        &_distribute {
            &_center {

            }
        }

        &_vertical-align {
            &_center {

            }
        }

        &_space-a {
            &_m {
                padding: var(--space-m);
            }

            &_l {
                padding: var(--space-l);
            }

            &_xl {
                padding: var(--space-xl);
            }

            &_xxxl {
                padding: var(--space-xxxl);
            }
        }
    }

    &__footer {
        position: absolute;
        bottom: 0;

        &_distribute {
            &_between {

            }

            &_center {

            }

            &_right {

            }
        }

        &_vertical-align {
            &_center {

            }

            &_top {

            }

            &_bottom {

            }
        }

        &_space-a {
            &_m {
                padding: var(--space-m);
            }

            &_l {
                padding: var(--space-l);
            }

            &_xl {
                padding: var(--space-xl);
            }

            &_xxl {
                padding: var(--space-xxl);
            }
        }
    }
}

.form {
    &_border {
        &_all {
            border: 3px solid var(--color-border);
        }
    }

    &_view {
        &_default {
            background: var(--color-default);
        }
    }

    &__item {
        &_border {
            &_bottom {
                &:last-child {
                    border: 0;
                }
            }
        }

        &_distribute {
            &_between {

            }
        }

        &_vertical-align {
            &_center {
                
            }
        }

        &_indent-b {
            $sizes: xxxs, xxs, s, m, l, xl, xxl, xxxl, xxxxl;

            @each $size in $sizes {
                &_#{$size} {
                    margin-bottom: var(--space-#{$size});
                }
            }
        }

        &_space-h {
            $sizes: xxxs, xxs, s, m, l, xl, xxl, xxxl, xxxxl;

            @each $size in $sizes {
                &_#{$size} {
                    padding-right: var(--space-#{$size});
                    padding-left: var(--space-#{$size});
                }
            }
        }

        &_space-v {
            $sizes: xxxs, xxs, s, m, l, xl, xxl, xxxl, xxxxl;

            @each $size in $sizes {
                &_#{$size} {
                    padding-top: var(--space-#{$size});
                    padding-bottom: var(--space-#{$size});
                }
            }
        }
    }

    &__label {
        &_width {
            &_default {
                width: 35%;
            }
        }
    }

    &__control {

    }
}

.informer {
    &_border {
        &_all {
            border: 3px solid var(--color-border);
        }
    }

    &_view {
        &_default {
            background: var(--color-default);
        }
    }

    &__content, &__action {
        &_distribute {
            &_default {

            }

            &_between {
                
            }

            &_center {
                
            }
        }

        &_space-a {
            &_xl {
                padding: var(--space-xl);
            }

            &_xxl {
                padding: var(--space-xxl);
            }
        }
    }
}

.list {
    &_border {
        &_all {
            
        }
    }

    &_view {
        &_default {
            background: var(--color-default);
        }
    }

    &__item {
        &_border {
            &_bottom {
                border-style: bottom;
            }

            &_top {
                border-style: top;
            }
        }

        &_distribute {
            &_between {

            }
        }

        &_vertical-align {
            &_center {

            }
        }

        &_indent-t {
            &_m {
                margin-top: var(--space-m);
            }
        }

        &_indent-b {
            $sizes: s, m, l, xl;

            @each $size in $sizes {
                &_#{$size} {
                    margin-bottom: var(--space-#{$size});
                }
            }
        }

        &_space-b {
            &_s {
                padding-bottom: var(--space-s);
            }
        }

        &_space-a {
            &_m {
                padding: var(--space-m);
            }
        }
    }
}

.icon-plus {
    &_vertical-align {
        &_center {
            vertical-align: middle;
        }
    }

    &__icon {
        &_indent-r {
            &_s {
                margin-right: var(--space-s);
            }

            &_m {
                margin-right: var(--space-m);
            }
        }

        &_indent-l {
            &_l {
                margin-left: var(--space-l);
            }
        }
    }

    &__block {
        //
    }
}

.section {
    &_indent-b {
        $sizes: xxl, xxxxl;

        @each $size in $sizes {
            &_#{$size} {
                margin-bottom: var(--space-#{$size});
            }
        }
    }

    &_space-v {
        $sizes: xxl, xxxxl;

        @each $size in $sizes {
            &_#{$size} {
                padding-top: var(--space-#{$size});
                padding-bottom: var(--space-#{$size});
            }
        }
    }
}