@import 'theme';

.card {
    position: relative;

    &_border {
        &_all {

        }
    }

    &_view {
        &_default {

        }
    }

    &__content {
        &_distribute {
            &_center {

            }
        }

        &_vertical-align {
            &_center {

            }
        }

        &_space-a {
            &_m {
                padding: var(--space-m);
            }

            &_l {
                padding: var(--space-l);
            }

            &_xl {
                padding: var(--space-xl);
            }

            &_xxxl {
                padding: var(--space-xxxl);
            }
        }
    }

    &__footer {
        position: absolute;
        bottom: 0;

        &_distribute {
            &_between {

            }

            &_center {

            }

            &_right {

            }
        }

        &_vertical-align {
            &_center {

            }

            &_top {

            }

            &_bottom {

            }
        }

        &_space-a {
            &_m {
                padding: var(--space-m);
            }

            &_l {
                padding: var(--space-l);
            }

            &_xl {
                padding: var(--space-xl);
            }

            &_xxl {
                padding: var(--space-xxl);
            }
        }
    }
}

.form {
    &_border {
        &_all {
            border: 3px solid var(--color-border);
        }
    }

    &_view {
        &_default {
            background: var(--color-default);
        }
    }

    &__item {
        &_border {
            &_bottom {
                &:last-child {
                    border: 0;
                }
            }
        }

        &_distribute {
            &_between {

            }
        }

        &_vertical-align {
            &_center {

            }
        }

        &_indent-b {
            &_xxxs {
                margin-bottom: var(--space-xxxs);
            }

            &_xxs {
                margin-bottom: var(--space-xxs);
            }

            &_s {
                margin-bottom: var(--space-s);
            }

            &_m {
                margin-bottom: var(--space-m);
            }

            &_l {
                margin-bottom: var(--space-l);
            }

            &_xl {
                margin-bottom: var(--space-xl);
            }

            &_xxl {
                margin-bottom: var(--space-xxl);
            }

            &_xxxl {
                margin-bottom: var(--space-xxxl);
            }

            &_xxxxl {
                margin-bottom: var(--space-xxxxl);
            }
        }

        &_space-h {
            &_xxxs {
                padding-right: var(--space-xxxs);
                padding-left: var(--space-xxxs);
            }

            &_xxs {
                padding-right: var(--space-xxs);
                padding-left: var(--space-xxs);
            }

            &_s {
                padding-right: var(--space-s);
                padding-left: var(--space-s);
            }

            &_m {
                padding-right: var(--space-m);
                padding-left: var(--space-m);
            }

            &_l {
                padding-right: var(--space-l);
                padding-left: var(--space-l);
            }

            &_xl {
                padding-right: var(--space-xl);
                padding-left: var(--space-xl);
            }

            &_xxl {
                padding-right: var(--space-xxl);
                padding-left: var(--space-xxl);
            }

            &_xxxl {
                padding-right: var(--space-xxxl);
                padding-left: var(--space-xxxl);
            }

            &_xxxxl {
                padding-right: var(--space-xxxxl);
                padding-left: var(--space-xxxxl);
            }
        }

        &_space-v {
            &_xxxs {
                padding-top: var(--space-xxxs);
                padding-bottom: var(--space-xxxs);
            }

            &_xxs {
                padding-top: var(--space-xxs);
                padding-bottom: var(--space-xxs);
            }

            &_s {
                padding-top: var(--space-s);
                padding-bottom: var(--space-s);
            }

            &_m {
                padding-top: var(--space-m);
                padding-bottom: var(--space-m);
            }

            &_l {
                padding-top: var(--space-l);
                padding-bottom: var(--space-l);
            }

            &_xl {
                padding-top: var(--space-xl);
                padding-bottom: var(--space-xl);
            }

            &_xxl {
                padding-top: var(--space-xxl);
                padding-bottom: var(--space-xxl);
            }

            &_xxxl {
                padding-top: var(--space-xxxl);
                padding-bottom: var(--space-xxxl);
            }

            &_xxxxl {
                padding-top: var(--space-xxxxl);
                padding-bottom: var(--space-xxxxl);
            }
        }
    }

    &__label {
        &_width {
            &_default {
                width: 35%;
            }
        }
    }

    &__control {

    }
}

.informer {
    &_border {
        &_all {
            border: 3px solid var(--color-border);
        }
    }

    &_view {
        &_default {
            background: var(--color-default);
        }
    }

    &__content, &__action {
        &_distribute {
            &_default {

            }

            &_between {
                
            }

            &_center {
                
            }
        }

        &_space-a {
            &_xl {
                padding: var(--space-xl);
            }

            &_xxl {
                padding: var(--space-xxl);
            }
        }
    }
}

.list {
    &_border {
        &_all {
            
        }
    }

    &_view {
        &_default {
            background: var(--color-default);
        }
    }

    &__item {
        &_border {
            &_bottom {
                border-style: bottom;
            }

            &_top {
                border-style: top;
            }
        }

        &_distribute {
            &_between {

            }
        }

        &_vertical-align {
            &_center {

            }
        }

        &_indent-t {
            &_m {
                margin-top: var(--space-m);
            }
        }

        &_indent-b {
            &_s {
                margin-bottom: var(--space-s);
            }
            
            &_m {
                margin-bottom: var(--space-m);
            }

            &_l {
                margin-bottom: var(--space-l);
            }

            &_xl {
                margin-bottom: var(--space-xl);
            }
        }

        &_space-b {
            &_s {
                padding-bottom: var(--space-s);
            }
        }

        &_space-a {
            &_m {
                padding: var(--space-m);
            }
        }
    }
}

.icon-plus {
    &_vertical-align {
        &_center {
            vertical-align: middle;
        }
    }

    &__icon {
        &_indent-r {
            &_s {
                margin-right: var(--space-s);
            }

            &_m {
                margin-right: var(--space-m);
            }
        }

        &_indent-l {
            &_l {
                margin-left: var(--space-l);
            }
        }
    }

    &__block {
        //
    }
}

.section {
    &_indent-b {
        &_xxl {
            margin-bottom: var(--space-xxl);
        }

        &_xxxxl {
            margin-bottom: var(--space-xxxxl);
        }
    }

    &_space-v {
        &_xxl {
            padding-top: var(--space-xxl);
            padding-bottom: var(--space-xxl);
        }

        &_xxxxl {
            padding-top: var(--space-xxxxl);
            padding-bottom: var(--space-xxxxl);
        }
    }
}