.theme {
    &_color {   
        &_project-default {
            --bg-default: #FFFFFF;
            --bg-accent: #FFCC00;
            --bg-border: #000000;
            //
            --text-main: #000000;
            --text-scnd: rgba(0, 0, 0, 0.6);
            --text-add: rgba(0, 0, 0, 0.3);
            --text-link: #0077FF;
        }
        &_project-brand {
            --bg-default: #0077FF;
            --bg-accent: #FFFFFF;
            --bg-border: #FFFFFF;
            //
            --text-main: #FFFFFF;
            --text-scnd: rgba(255, 255, 255, 0.6);
            --text-add: rgba(255, 255, 255, 0.3);
            --text-link: #FFFFFF;
        }

        &_project-inverse {
            --bg-default: #000000;
            --bg-accent: #FFFFFF;
            --bg-border: #FFFFFF;
            //
            --text-main: #FFFFFF;
            --text-scnd: rgba(255, 255, 255, .6);
            --text-add: rgba(255, 255, 255, .3);
            --text-link: #0070F0;
        }

        &_project-warning {
            --bg-default: #FF3333;
            --bg-accent: #FFFFFF;
            --bg-border: #FF3333;
            //
            --text-main: #FFFFFF;
            --text-scnd: rgba(255, 255, 255, 0.6);
            --text-add: rgba(255, 255, 255, 0.3);
            --text-link: #FFFFFF;
        }
    }

    &_size {
        &_default {
            --font-size-s: 7px;
            --font-size-m: 8px;
            --font-size-l: 10px;
            --font-size-xl: 11px;
            --font-size-xxl: 13px;
            --font-space-s: 18px;
            --font-space-m: 21px;
            --font-space-l: 25px;
            --font-space-xl: 28px;
            --font-space-xxl: 34px;
        }
    }

    &_space {
        &_default {
            --space-xxxs: 3px;
            --space-xxs: 6px;
            --space-xs: 9px;
            --space-s: 15px;
            --space-m: 18px;
            --space-l: 24px;
            --space-xl: 27px;
            --space-xxl: 36px;
            --space-xxxl: 45px;
            --space-xxxxl: 51px;
            --space-xxxxxl: 72px;
        }
    }
}