@import 'theme';
@import 'layout';
@import 'pattern';
@import 'content';

:root{
    box-sizing: border-box;
}

.product {
    background: var(--color-accent);
}

.warning {
    background: var(--color-accent);
}
