@import 'theme';

.text {
    &_align {
        &_center {
            text-align: center;
        }
    }

    &_size {
        $properties: 
            s 20px 48px 100px 8px,
            m 24px 56px 114px 10px,
            l 28px 68px 138px 11px,
            xl 32px 74px 154px 13px, 
            xxl 36px 88px 184px 16px;

        @each $size, $s, $m, $l, $h in $properties {
            &_#{$size} {
                font-size: var(--font-size-#{$size});
                --size-text-s: #{$s};
                --size-text-m: #{$m};
                --size-text-l: #{$l};
                --height-text: #{$h}
            }
        }
    }

    &_type {
        &_h1 {
            margin: 18px 0 24px;
        }

        &_h2 {
            margin: 45px 0 21px;
        }

        &_h3 {
            margin: 42px 0 0;
        }

        &_p {
            margin: 15px 0 21px;
        }
    }

    &_view {
        $colors: primary, secondary, ghost, link;

        @each $color in $colors {
            &_#{$color} {
                --text-bg-color: var(--color-text-#{$color});
            }
        }
    }

    &__word {
        &_width {
            $sizes: s, m, l;
            @each $size in $sizes {
                &_#{$size} {
                    width: var(--size-text-#{$size});
                    height: var(--height-text);
                    background: var(--text-bg-color);
                }
            }
        }
    }
}

.avatar {
    background: var(--color-text-primary);

    &_size {
        &_m {
            width: 60px;
            height: 60px;
        }
    }
}

.brand-logo {
    &_name {
        $colors: 
            blue #5dcdf9,
            green #23b324,
            red #ff3333,
            purple #c62cff;

        @each $name, $color in $colors {
            &_#{$name} {
                background: $color;
            }
        }
    }

    &_size {
        $sizes:
            xxs 24px,
            xs 32px,
            s 40px,
            m 60px,
            l 80px;

        @each $size, $dimensions in $sizes {
            &_#{$size} {
                width: $dimensions;
                height: $dimensions;
            }
        }
    }
}

.placeholder {
    background: var(--color-text-primary);

    &_size {
        &_m {
            width: 72px;
            height: 72px;
        }
    }

    &_view {
        &_primary {
            background: var(--color-text-primary);
        }
    }
}

.button {
    background: var(--color-accent);

    &_size {
        $sizes:
            s 24px,
            m 32px,
            l 42px,
            xl 56px,
            xxl 64px;

        @each $size, $height in $sizes {
            &_#{$size} {
                width: 200px;
                height: $height;
            }
        }
    }

    &_width {
        &_full {
            width: 100%;
        }
    }
}

.input {
    $border-w: 3px;
    border: $border-w solid var(--color-border);
    &_size {
        $sizes:
            s 24px,
            m 32px,
            l 42px,
            xl 56px,
            xxl 64px;

        @each $size, $height in $sizes {
            &_#{$size} {
                width: 100%;
                height: $height - ($border-w * 2);
            }
        }
    }
}

.image {
    width: 100%;
    border: 3px solid var(--color-border);
    background: var(--color-default);
    background-image: var(--image-placeholder);
}